.app {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
  border-radius: 20px;
}
 body {
  background-color: rgb(174, 202, 142);
 }

 .crossed {
  text-decoration: line-through 2px red;
  color: rgb(166, 162, 162);
  width: 50%;
 }

 ul, li {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  margin-left: 50px;
 }

 h1 {
  font-family: 'Montserrat', sans-serif;
 }

 .container {
  display: flex;
  justify-content: center;
 }

 .add {
  margin-top: 5px;
  background: rgb(14, 176, 14);
  
 }

 .delete {
  background: red;
  margin-bottom: 5px;
  
 }

 .btn {
  padding: 10px;
  border: none;
  width: 70%;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: white;
 }

 input {
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
 }

 img {
  border-radius: 70%;
 }

 
